

.banner {
    width: 100%;
    height: 460px;
     /*url('../Assets/banner2.png')*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    margin-bottom:25px;
}

.banner2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
}

@media only screen and (max-width: 720px) {

    .banner {
        width: auto;
        height: auto;
        background: #21204d; /*url('../Assets/banner2.png')*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;

    }


    .textBanner1 {
        font-weight: bold;
        font-size: 40px;
        color: ghostwhite;
    }

    .textBanner2 {
        font-weight: bold;
        font-size: 25px;
        color: ghostwhite;
    }
}


.textBanner1 {
    padding-left: 5%;
    font-weight: bold;
    font-size: 65px;
    color: ghostwhite;
}

.textBanner2 {
    padding-left: 5%;
    font-size: 40px;
    color: ghostwhite;
}

.menuImg {
    z-index: 100;
    display: none;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


h2 {
    font-size: 50px;
    color: #21204D;
    text-align: center;
    margin: 25px;
}

h5 {
    text-align: center;
    text-justify:auto;
}

h3 {
    color: #21204D;
    text-align: center;
    margin: 5px;
}


.titlu {
    color: #A6CBED;
}

.postTitleContainer{
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin:30px;
}

/** GALLERY **/


.gallery {
    position: relative;
    margin: 20px;
    overflow: auto;
    display:inline-block;
    min-height:300px;
}


    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 300px;
        max-height: 300px;
        min-height: 300px;
        display: inline-block;
        float: left;
       
    }

    .gallery .desc {
        max-width: 300px;
        max-height: 300px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
        flex-direction:column;
       
    }

    
.gallery:hover .desc{
    opacity:0.5;
}

.postText {
    color: white;
    font-size: 30px;
    position:relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.colTextGallery {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.responsive {
    align-items: center;
    justify-content:space-around;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 728px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 576px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.galleryContainer {
   
    margin:10px;
}
.imgGallery {
    max-width: 750px;
    height:auto;
    margin:auto;
    display:flex;
    align-self:center;
}

.imgGallery2 {
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    display: flex;
    align-self: center;
}

.imgContainer{
    width:100%;
    justify-content:center;
   
}



.galleryRow {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 5px;
}



._form-card {
    background: #21204D;
    width: 330px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

/** LIKES **/

.like{
    width:30px;
    height:33px;
}


/** COMMENTS **/
.comment-section {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 10px;
    list-style: none;
    align-content:center;
    justify-content:center;

}


.comments-list {
    padding: 15px;
    display: flex;
    border-radius: 3px;
    margin-bottom: 25px;
    display: flex;
    justify-content:flex-start;
    padding-left:10%;

}

    .comments-list .info a {
        display: block;
        text-decoration: none;
        color: #656c71;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 0 3px 0;
    }

    .comments-list .avatar {
       
        padding: 25px 25px 25px 25px;
        margin-left:20px;
        margin-right:10px;
    }
    .comments-list .avatar img{
        display:block;
        border-radius:50%;
        float:right;
    }



@media only screen and (max-width:650px) {

    .comments-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

        .comments-list .contentCom {
            background-color: #21204D;
            border-radius: 10px;
            width: 95%;
            padding: 10px 15px;
            margin-left: 0 !important;
        }

    .card{
        margin-top:5%;
    }

    .imgGallery {
        max-width: 330px!important;
        max-height: 330px!important;
        min-width: 100px!important;
        margin: auto;
        display: flex;
        align-self: center;
    }
}

#user_name {
    font-size: 17px;
    font-weight: bold;
    color: #86A4BF;
    transition: background-color 1s;
}

        #user_name:hover {
            color: white;
            text-decoration: none;
        }

    .contentCom {
        background-color: #21204D;
        border-radius: 15px;
        margin-left: 20px;
        width: 65%;
        word-wrap: break-word;
        line-height: 1.5;
        margin-top: 5px;
        padding: 18px 22px;
    }

.write-new {
    margin: 80px auto 0;
    width: 50%;
}

    .write-new textarea {
        color: #21204D;
        font: inherit;
        outline: 0;
        border-radius: 3px;
        border: 1px solid #cecece;
        background-color: #fefefe;
        box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
        overflow: auto;
        width: 100%;
        min-height: 80px;
        padding: 15px 20px;
    }

    .write-new img {
        border-radius: 50%;
        margin-top: 15px;
    }

    .write-new button {
        float: right;
        background-color: #87bae1;
        box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
        border-radius: 2px;
        border: 0;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 25px;
        margin-top: 18px;
    }

.media-body{
    border:2px solid black;
}

/* Preloder */
#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}


@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border-left-color: transparent;
    }
}

